body {
  margin: 0;
  background-color: #444;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 5em;
  color: white;
  font-family: Tahoma;
  flex-flow: column;
}

img {
  border-radius: 100%;
  width: 300px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
